script(src='/vendor/jquery/dist/jquery.min.js')
script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
script(src='/vendor/underscore/underscore-min.js')
script(src='/vendor/backbone/backbone-min.js')
script(src='/vendor/dropzone/dist/dropzone.js')
